body{
background-image: url("ss.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
background-attachment:fixed;

}

.container{
height:250px;
width:300px;
position:absolute;
margin:auto;
top:0;
bottom:0;
left:0;
right:0;
}
.cake{
height:70px;
width:180px;
background-color:#fcf18e;
position:absolute;
}
.c1{
bottom:0;
left:60px;
}

button{
  position: absolute;
  height: 50px;
  width: 160px;
  margin: 50;
  left:10px;
top:20%;
  border-radius: 60px;
  border: none;
  outline: none;
  background: #FFC0CB;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.5s;
}
button:first-child:hover{
  background: linear-gradient(90deg, #03a9f4, #00FF00 , #ffeb3b, #03a9f4);
  background-size: 400%;
}
button:last-child:hover{
  background: linear-gradient(90deg, #fa7199, #00FF00 , #FFFF00, #fa7199);
  background-size: 400%;
}
button:first-child:before,
button:last-child:before{
  content: '';
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s;
}
button:first-child:hover:before,
button:last-child:hover:before{
  opacity: 1;
  z-index: -1;
}
button:hover{
  z-index: 1;
  animation: glow 8s linear infinite;
}
@keyframes glow {
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}
.cream{
background-color:#fa406b'
height:10px;
width:100px;
position:absolute;
top:30px;
}
.icing{
position:relative;
}
.icing>div{
background-color: #fbd028;
height:12.5px;
width:26px;
border-radius: 0 0 26px 26px;
position:absolute;
}

.icing>div:nth-child(1){
left:-2px;
}
.icing>div:nth-child(2){
left:26px;
}
.icing>div:nth-child(3){
left:52px;
}
.icing>div:nth-child(4){
left:78px;
}
.icing>div:nth-child(5){
left:104px;
}

.icing>div:nth-child(6){
left:130px;
}
.icing>div:nth-child(7){
left:156px;
}

.cherries>div{
background-color:#f7174c;
height:18px;
width:18px;
border-radius:50%;
position:absolute;
top:-18px;
}

.cherries>div:nth-child(1){
left:8px;
}
.cherries>div:nth-child(2){
left:40px;
}
.cherries>div:nth-child(3){
left:70px;
}
.cherries>div:nth-child(4){
left:100px;
}
.cherries>div:nth-child(5){
left:130px;
}
.cherries>div:nth-child(6){
left:156px;
}

.c2{
transformation:scale(0.8);
bottom:62px;
left:60px;
z-index:-1;
}

.c3{
transformation:scale(0.6);
bottom:110px;
left:60px;
z-index:-2;
}

.candle{
background-color:#f8f8f8;
height:70px;
width:20px;
position:absolute;
z-index:-3;
bottom:60px;
left:80px;
}
.flame{
background-color:#fbb200;
height:22px;
width:22px;
border-radius:0 50% 50% 50%;
position:absolute;
top:-22px;
transform:rotate(45deg);
}
